{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}

    <section class="py-5 mt-4">
        <div class="container">
            <div class="p-4 p-lg-5 custom-card custom-card--gradient text-center position-relative">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Bienvenue !</h1>
                    <p class="fs-4">Identifiez-vous pour vous connecter à votre back office.</p>
                    <a class="btn btn-primary btn-lg" href="{{ path("app_login") }}">se connecter</a>
                </div>
                <div class="p-4 p-lg-5 d-none d-md-block underlying-shape text-center"></div>
            </div>
        </div>
    </section>

{% endblock %}