// import des classes bootstrap pour qu'elles puissent être compilées par webpack

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #EDEEF1;
    font-family: 'Roboto', sans-serif;
}

.custom-login-form {
    background: linear-gradient(45deg, rgba(43,119,158,1) 0%, rgba(65,181,237,1) 90%, rgba(65,181,237,1) 100%);
    border-radius: 10px;
    color: white;
    margin-top: 10%;
    box-shadow: 0 5px 10px rgb(154, 160, 185), 0 15px 40px rgb(166, 173, 201);
}

.custom-btn {
    box-sizing: content-box;
    color: white;
    background-color: #0c7ef0;
    border: 0 solid deepskyblue;
    transition: box-shadow .2s ease, border .2s ease, background-color .2s ease, color .2s ease;
    box-shadow: inset 0 0 0 0 rgba(43,119,158,1), inset 0 0 0 2px deepskyblue, 0 0 0 0 rgba(43,119,158,1);

    &:hover {
        box-shadow: inset 0 0 0 4px rgba(43,119,158,1), inset 0 0 0 6px deepskyblue, 0 0 0 0 rgba(43,119,158,1);
        background-color: #0d6efd;
        color: white;
        border-radius: 5px;
    }
}

.wrap-icon {
    border-radius: 2em;
    transition: background-color 0.3s;
  }
  
  .wrap-icon:hover {
    background-color: darken(#0d6efd, 5%);
    transition: background-color 0.3s;
  }