<!-- Footer-->
<footer class="bg-primary bg-gradient mt-auto">
    <div class="container pb-2">
        <ul class="social-icons text-center">
            <li><a href="https://www.linkedin.com/in/mickael-bula/"><i class="bi bi-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="mailto:bula.mickael@gmail.com"><i class="bi bi-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/mickael-Bula/backOffice"><i class="bi bi-github" aria-hidden="true"></i></a></li>
        </ul>
    <p class="m-0 text-center text-white">Copyright &copy; Mickaël Bula 2022</p></div>
</footer>